* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Font */
body {
    font-family: 'Open Sans', sans-serif;
}

nav {

    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;
}

nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}

#intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.header {
    text-align: center;

}

#intro h2, #intro p {
    margin-bottom: 1rem;
}

#intro button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
}
#succeed-info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}


#succeed-info h2 {
    /*creates space between the header and the card section*/
    margin-bottom: 1rem;
}

#succeed-info h3 {
    text-align: left;
    /*creates space between the h3 tags and the paragraph tags*/
    margin-bottom: 1rem;
}

#succeed-info .card{
    /*allows the cards to appear beside each other*/
    display: inline;
    /*aligns elements with the tallest element in line*/
    /*used with the "inline-block" value*/
    vertical-align: top;
    /*allows for cards to have equal height that adjust with the content*/
    min-height: 175px;
    /*measurement is based on equally dividing the parent container's width*/
    /*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
    width: 30%;
    /*creates horizontal spacing between cards*/
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}
#pre-footer {
background-color: #002540;
color: white;
display: flex;
justify-content: space-between;
padding: 20px;
}

footer {
padding: 10px;
}

footer span {
margin: 0px 10px;
}